
.form {
  background-color: rgba(156, 156, 156, 0.8);
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 18rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 1rem;
  position: fixed;

  top: 30%;
  left: 40%;
  z-index: 98;
}
.gender {
  display: flex;
  gap: 0.5rem;
}
/* .mohasebe{
    border-radius: 5px;
    cursor: pointer;
    
} */
.link {
  position: absolute;
  top: 13rem;
  right: 8rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.link>input{
    cursor: pointer;
}
.times-icon{
  color: white;
  position: absolute;
  right: 2rem;
  cursor: pointer;
}